/* Hoja de estilos CSS */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    transition: 1s;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    user-select: none;
    background: lightsteelblue;
}

table {
    background: slategray;
    margin: 20px auto;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 120%;
    color: white;
}

#juego-nuevo, td, #minas, #ajustes {
    box-shadow: inset 3px 3px 0 0 rgba(255, 255, 255, 0.5), 
                inset -3px -3px 0 0 rgba(0, 0, 0, 0.5);
}

#juego-nuevo, #minas, #ajustes {
    padding: 10px;
    margin: 10px;
}

#juego-nuevo {
    background: skyblue;
    cursor: pointer;
}

#juego-nuevo:hover {
    background: #7abbd5;
    transition: 0s !important;
}

#minas {
    background: black;
    color: red;
    cursor: help;
}

#ajustes {
    background: #eee;
    cursor: pointer;
}

#ajustes:hover {
    background: #e1e1e1;
    transition: 0s !important;
}

